.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    max-width: 25%;
}

.logo-text {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 700;
    font-family: "Jost", Arial, Tahoma, sans-serif;
    cursor: pointer;
}

.logo {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    font-family: "Jost", Arial, Tahoma, sans-serif;
}

.logo-icon {
    max-width: 30px;

    img {
        width: 100%;
    }
}